<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robotic Hand</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="left-panel">
            <div class="team-info">
                <p>Team: BYTS</p>
                <p>Team ID: 23452</p>
            </div>
            <h1>Robotic Hand</h1>
            <br>
            <br>
            <h1>Robotic Hand</h1>
            <div class="selection-box">
                <label for="mode">Choose a mode:</label>
                <select id="mode" name="mode" onchange="onSelectionHandler(this)">
                    <option value="" selected disabled>------Select-----</option>
                    <option value="video_feed">Video Cam</option>
                    <option value="manual">Manual</option>
                </select>
            </div>
        </div>
        <div class="right-panel">
            <div class="hand-container">
                <img id="handImage" src="{{ url_for('static', filename='img/hand.png') }}" alt="Robotic Hand" class="hand-image" height="350" width="500">
                <form action="/button-clicked" method="POST">
                    <button type="submit" id ="finger1" class="finger-button" name="button_value" value="0" onclick="toggleColor(this)"> </button>
                    <button type="submit" id ="finger2" class="finger-button" name="button_value" value="1" onclick="toggleColor(this)"> </button>
                    <button type="submit" id ="finger3" class="finger-button" name="button_value" value="2" onclick="toggleColor(this)"> </button>
                    <button type="submit" id ="finger4" class="finger-button" name="button_value" value="3" onclick="toggleColor(this)"> </button>
                    <button type="submit" id ="finger5" class="finger-button" name="button_value" value="4" onclick="toggleColor(this)"> </button>
                </form>
            </div>
        </div>
    </div>
    <button class="theme-toggle" id="themeToggle">
        ☀️
    </button>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
